<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yps.layani">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Layani">
        <activity android:name=".start.ui.detail.DetailComplaintActivity"></activity>
        <activity
            android:name=".start.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".start.RegisterActivity" />
        <activity android:name=".start.LoginActivity" />
        <activity android:name=".start.StartActivity" />

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </application>

</manifest>